#=======================
Zephyr / CMake build artifacts
#=======================
build/
**/build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile
zephyr/

#=======================
#VS Code settings
#=======================
.vscode/
*.code-workspace

#=======================
# Temporary files
#=======================
*.log
*.swp
*.tmp
*~
.DS_Store

#=======================
# Python virtual enviroments
# ======================
.venv/
venv/
__pycache__/

#=======================
# Other generated artifacts
#=======================
*.elf
*.bin
*.hex
*.map
*.Zone.Identifier*.Zone.Identifier
*.Zone.Identifier
